/* Nav extra customizations */
nav {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar input {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    background: transparent;
    border: 2px solid var(--color-complementary);
    color: var(--color-complementary);
    font-size: 1rem;
}

.searchbar button {
    background: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -3rem;
}

.searchbar input:focus {
    border: 2px solid var(--color-primary);
    outline: none;
}

.nav__list--static {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

.btn-transparent-black-br {
    background: transparent;
    border: 2px solid var(--color-complementary);
    color: var(--color-complementary);
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.btn-transparent-black-br:hover {
    background-color: var(--color-primary);
}

.navigation ul .btn-icon{
    margin: 0 10px;
}

.user-icon {
    position: relative;
}

.user--hover {
    position: absolute;
    left: -2rem;
    min-width: 14rem;
    padding: 1.25rem;
    background: var(--nav-color);
    z-index: 3;
    display: none;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.user-icon:hover .user--hover {
    display: block;
}

button.btn-link-text {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }

@media screen and (max-width: 420px) {
    .nav__list--static{
        gap: 0;
    }
    .nav__list--static button{
        padding: 0;
        min-height: 0;
        min-width: 0;
        border: none;
        font-weight: 500;
        background: transparent;
    }    
    .nav__list--static button:hover{
        color: var(--color-primary);
        background: transparent;
    }
}


@media screen and (max-width:780px) {
    .navigation{
        position: relative;
    }
    .searchbar {
        position: absolute;
        top: 5.25rem;
        left: 49%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 95%;
    }
    .searchbar input{
        width: 100%;
        border: 1px solid currentColor;
    }
}
